# User-specific settings file for this repo. May contain secrets such as API tokens.
user.bazelrc
.env
*.DS_Store

# Symlinks created by Bazel into the output tree
/bazel-*


node_modules/


*.venv/


vendor/bundle/
/target/
